.form {
  /*margin: 0;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 20%;*/
  /*border: 1px solid #ab6026;*/
  /*border-radius: 15px;*/
  /*padding: 10px 8px;*/
  height: 730px;
  width: 400px;

  position: absolute;
  left: 30%;
  right: 30%;
  top: 10%;
  bottom: 30%;

  background: #ffffff;
  box-shadow: 10px 12px 24px #ab2f86, 0 32px 64px #4cab1f;
  border-radius: 24px;
}


.form h1 {
  margin: 40px 30px 9px;
  /*height: 44px;*/
  /*width: 100%;*/
  border-radius: 0;
  font-size: 34px;
  font-style: normal;
  line-height: 44px;
  text-align: left;
  font-weight: bold;
  color: #2C2738;
}

.form h4 {
  margin: 0 30px 40px;
}

.linkEnter {
  margin-left: 6px;
}

.label {
  margin: 0 30px 17px ;
}

.input {
  margin: 7px 30px 17px;
  width: 75%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #327ccc;
  box-sizing: border-box;
  border-radius: 1px;
}

.languagesSelect {
  margin: 7px 30px 0px;
  width: 75%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #327ccc;
  box-sizing: border-box;
  border-radius: 1px;
}

.language {

}


.checkDiv {

}

.checkbox {
  width: 28px;
  height: 28px;
  margin: 30px 8px 0px 30px;
}

.labelCheckbox {
  /*padding-top: 20px;*/
  margin-top: 20px;
}

.button {
  /*position: absolute;*/
  /*left: 0%;*/
  /*right: 0%;*/
  /*top: 0%;*/
  /*bottom: 0%;*/
  margin: 42px 30px 17px;
  width: 75%;
  height: 40px;
  background: #0880AE;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 6px;
}